body {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

main {
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    margin: auto;

    .primary {
        width: 67%;
        margin-right: auto;
    }

    .sidebar {
        background-color: $color__aqua-haze;
        width: 30%;
        padding: cre(20);
    }
}

.page-title {
    padding: 1rem 0;
    text-align: center;
}