body {
    padding-top: 4rem;
}

main {
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    margin: auto;

    .primary {
        width: 72%;
        margin-right: auto;
    }

    .secondary {
        background-color: $color__aqua-haze;
        width: 25%;
    }
}

.page-title {
    background-color: $color__aqua-haze;
    padding: 1rem 0;
    text-align: center;
}