body {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

main {
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    margin: auto;

    .primary {
        width: 67%;
        margin-right: auto;

        > p {
            font-weight: 500;
            background-color: $color__aqua-haze;
            margin-bottom: cre(40);
            padding: 1rem;
            letter-spacing: 1.5px;
        }

        section {
            margin-bottom: cre(60);
        }
    }

    .sidebar {
        background-color: $color__aqua-haze;
        width: 30%;
        padding: cre(20);
    }
}

.page-title {
    padding: 1rem 0;
    text-align: center;
}