table {
    width: 100%;

    td,
    th {
        border: 1px solid $color__concrete;
        padding: cre(8);
    }

    th {
        background-color: $color__concrete;
        color: white;
        border-right: 1px solid white;

        &:last-child {
            border-right: 1px solid $color__concrete;
        }
    }
}