// Font Families


// Typography
$font-family__main: sans-serif;
$font-family__headings: Montserrat,"Helvetica Neue","Lucida Grande",Arial,Verdana,sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

// Colour palette
$color__aqua-haze: #f2f5f8;
$color__concrete: #95a5a6;

// Break points
$size__mobile: 600px;
$size__tablet: 900px;
$size__desktop: 1200px;